
	body {
		
		background-size: 700px;
		height: 1000px;  		
  	
	}


	/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 

.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, 

.col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, 

.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, 

.col-md-11, .col-md-12 {
    float: left;
   
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile only **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, 

.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, 

.col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }

  
}


	.div{
		height: 80px;
		background-color:yellow;
		position: relative;
	}
	.style1{
		margin-top: 50px;
		text-align: center;

	}


	
	.mydiv{
		
		height: 100px;
		width:100%;
		margin-top:2px;
		background-color:#EC4E20;
		position:relative;
		color:purple;
		font-family:san-serif;
		font-size:25px;
	}
	.mydiv1{
		color: purple;
		font-size:40px;
		
		margin: 10px 10px;
		position: fixed;
		font-family: monospace, san-serif;
	}
	.mydiv2{
		color: purple;
		font-size:30px;
		text-align:center;		
		margin: 10px 10px;
		position: relative;
		font-family: monospace, san-serif;
	}
	

	
	.sec {
		background-image: url("C:\Users\123\Desktop\Web Dev Internship\E-website\InShot_20201218_181006698.jpg");	
			
		width: 101%;
		height: 80%;
		position: absolute;
		margin-left: -20px;
		margin-right: 10px;
		margin-top: -20px;
		border-color: 3px solid orange;
		border-radius: 0% 0% 50% 50%/ 0% 0% 87% 98%;


	
	}
	
	nav {

			
			width: 101%;
			height: 120px;
			font-family: monospace, san-

serif;
			font-weight: bold;
			vertical-align: middle;
			position: fixed;
			z-index: 100;
			margin-left: -20px;
			margin-top: -20px;
	}

	
	
	nav ul {

			list-style-type: none;
			padding: 0;
			vertical-align: middle;

	}

	nav li {

			
			vertical-align: middle;
	
	}
	
	nav li a {

			color: white;
			text-decoration: none;
			vertical-align: center;

	}

	
	.im {
		width:48px;
		height:45px;
		margin-left: 1px;
		margin-top:20px;

		border-radius: 45% 45% 45% 45%;
	
	}

	.search-box {
		
			position: absolute;
			align: center;			
			left: 35%;
			transform: translate(-50%,-60%);
	}

	.search-box1 {
		
			position: absolute;
			align: center;			
			left: 35%;
			transform: translate(-50%,-60%);
	}
	.input121 {

			background-color: transparent;
			border: 2px ;
			display: block;
			height: 500px;	
			width: 400px;
			top: 260px;
			left: 400px;
			font-family: fontawesome;
			font-size: 20px;
			border-radius: 20px;
			padding: 0px 12px;
			position: absolute;
			z-index: -100;
	}
	
	

	.input10 {

			background-color: darkorange;
			border: 2px solid black;
			
			display: block;
			height: 400px;	
			width: 500px;
			top: 600px;
			left: 5px;
			font-family: Libre Baskerville;
			font-size: 20px;
			border-radius: 20px;
			padding: 0px 12px;
			position: absolute;
			z-index: -100;
	}
	
	
	
	.st {

			margin-top: -5px;
			color: black;
			width: 60px;
			height: 10px;
			
			
	}
	
	.bg-gradient {
	
			
			background-image: linear-

gradient(gray,golden rod);
			width: 101%;
			height: 500px;
			position: absolute;
			z-index: -100;

	}
		
	.footer {
		
			background: yellow;
			color: black;
			top: 1600px;
			height: 300px;
			width: 100%;
			margin-left: -10px;
			position: absolute;
			z-index: -100;
	
			
	}
	
	.col {
			font-family:Calibri;
			letter-spacing:1px;
                        text-align:justify;	
			width: 100%;
			height: 100%;
			float: center;
	}
       .footer1 {
		
			
			color: black;
			top: 700px;
			height: 50px;
			width: 100%;
			margin-left: -2px;
			position: absolute;
			z-index: -100;
	
			
	}
	
	.col1 {
			font-family:Calibri;
			letter-spacing:1px;
                        text-align:left;	
			width: 100%;
			height:100px;
			float: center;
	}

.footer2 {
		
			
			color: purple;
			top: 300px;
			height: 600px;
			width: 100%;
			margin-left: -2px;
			position: absolute;
			z-index: -100;
	
			
	}
	
	.col2 {
			font-family:Calibri;
			letter-spacing:1px;
                        text-align:left;	
			width: 100%;
			height: 50%;
			float: center;
	}


	
	#a {

			color: white;
			text-decoration: none;
	}
		
	.img {

			width: 230px;
			height: 190px;
			margin-top: -130px;
			border: 4px solid purple;
			border-radius: 20%;
	
}

	
	.img1 {

			width: 380px;
			height: 150px;
			margin-top: -130px;
			border: 4px ;
			border-radius: 20%;
	
}
	
	.f1 {

		color: grey;
		margin-top: 15px;
		margin-left: -520px;
		font-size: 20px;

	
	}
	
	.siz {

		margin-top: 1700px;
		margin-left: 26%;
		width: 800px;
		height: 120px;
		font-size:50px;
		color: black;
	text-align: center;
		
	
	}
	
	.si {
		font-size:25px;
		color: black;
		text-align: center;
		margin-left: 37%;
		width: 600px;
		height: 100px;
	
	}


.content-inner {margin-top: 440px !important;}
.content-outer {margin-bottom: 450px !important;}

.class1 {
		text-align: center;

		color:purple;
		margin-top : 5px;
		font-size : 40px;
		font-family: Libre Baskerville;
	
	}

.class2 {
		text-align: center;
		color:black;		
		font-size : 50px;
		font-family: Libre Baskerville;
	
	}


.header img{
  float:left;
width:100%;
height:390px;
}



.bar1, .bar2, .bar3 {
align-left;
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Dropdown Button */
.dropbtn {
  border-radius: 40px;
  background-color: #F5B461;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background:transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Links inside the dropdown */
.dropdown-content a {
background-color: darkorange;
  color: black;
  padding: 30px 50px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;/

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #5BE156;}

span {
  color:black;
  padding:10px;
  pointer-events: none;
  position:absolute;
  left:0;
  top:0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:1;
}




.bodybox {
  margin: 200px 100px;
  max-width:650px;
  font: 15px arial, sans-serif;
  background-color:darkorange;
  border-color:black;
  border-style: solid;
  border-width: 4px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 15px;
}

.chatborder {
  border-style: solid;
  background-color: #f6f9f6;
  border-width: 3px;
  margin-top: 200px;
  margin-bottom: 300px;
  margin-left: 160px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 15px;
}

.chatlog {
   font: 15px arial, sans-serif;
}

chatbox {
  font: 17px arial, sans-serif;
  height: 62px;
  width: 100px;;
}

.h1 {
  margin: auto;
}

.pre {
  background-color: #f0f0f0;
  margin-left: 20px;
}


